.benefit{
	text-align: center;
}

.benefit__image-wrapper{
	display: inline-block;
	width: 126px;
	height: 126px;
	position: relative;
	background: #F2F5F4;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 20px;
}

.benefit__image-icon{
	width: 65px;
	height: 69px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.benefit__title{
	font-size: 27px;
	line-height: 32px;
	font-weight: 700;
	color: #292929;
	margin-bottom: 18px;
}
.benefit__text{
	line-height: 22px;
}