.feature{
	display: flex;
}

.feature__icon{
	display: block;
	width: rem(42px);
	height: rem(42px);
	margin-right: rem(12px);
	fill: #fff;
}

.feature__text{
	font-size: rem(16px);
	line-height: rem(18px);
	max-width: rem(80px);
}