.header{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}


.phone-number.header__phone-number {
	@include tablets {
		display: none;
	}
}

.phone-number__icon{
	display: block;
	margin-right: rem(6px);
	width: rem(14px);
	height: rem(14px);
	fill: #fff;

	&:hover{
		fill: $darkGreen;
		transition: .3s;
	}
}
