.headline{
	text-align: center;
}

.headline__title{
	margin-bottom: rem(12px);
}

.headline__subtitle{
	padding: 0 26%;
	margin-bottom: rem(53px);
	line-height: rem(20px);

	@include tablets{
		padding: 0 20%;
	}

	@include phones{
		padding: 0 5%;
	}
}