.hero{
	background: url('../img/decor/pattern-1.png') right bottom no-repeat;
	background-color: $blue;
	height: 100vh;
	min-height: rem(650px);
	color: #fff;
	position: relative;

	@include tablets{
		background-position: right bottom 80%;
		background-size: 70%;
	}

	&::before, &::after{
		@include tablets{
			display: none;
		}
	}

	&::before{
		position: absolute;
		bottom: rem(-40px);
		left: 2%;
		content: url('../img/decor/leaf-3.png');
		z-index: $z-decor;
	}

	&::after{
		content: url('../img/decor/berries-leaf.png');
		position: absolute;
		bottom: rem(-49px);
		right: 0;
		z-index: $z-decor;
	}
}

.hero__container{
	background: url('../img/decor/granola-bar-mockup.png') right center/50% auto no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: rem(24px) 0 rem(45px);

	@include tablets{
		background: none;
	}
}

.hero__title-section{
	width: 46%;

	@include tablets{
		width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		&::before{
			content: "";
			width: rem(316px);
			height: rem(330px);
			background: url(../img/decor/bg-768.png) center center/contain no-repeat;
			margin-bottom: rem(14px);
		}
	}
}
.hero__icons-section{
	
	@include tablets {
		display: none;
	}
}

.hero__title-main{
	font-size: rem(48px);
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: rem(7px);
	text-transform: uppercase;

	@include phones{
		line-height: 98%;
	}
}

.hero__title-desc{
	font-size: rem(21px);
	margin-bottom: rem(49px);
	padding-right: 15%;
	line-height: rem(25px);

	@include tablets {
		padding: 0 25%;
		margin-bottom: rem(30px);
	}

	@include phones {
		padding: 0 10%;
	}
}
