.order-section{
		position: relative;
		background: url('../img/decor/order-pattern.png');
	

	&::before{
		content: url('../img/decor/blueberries-2.png');
		position: absolute;
		bottom: rem(69px);
		left: 5%;

		@include tablets{
			display: none;
		}
	}

	&::after{
		content: url('../img/decor/leaf-1.png');
		position: absolute;
		bottom: rem(58px);
		right: 5%;

		@include tablets{
			display: none;
		}
	}
}